<div{{ attributes }}>
  {{ title_prefix }}
  <small><b>{{ post.published_at|date("m/d/Y") }}</b></small>
  <h2 style="color: darkslateblue;"{{ title_attributes }}>{{ title }}</h2>
  {{ title_suffix }}
  <div{{ content_attributes }}>
    {{ content }}
  </div>
  <p>
    {{ category }}
  </p>
</div>
